src/main/mule/git-test1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="cb319026-7dbe-42f2-97b2-6f0cf84e9a99" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="git-test1Flow" doc:id="bd13babb-8503-4999-b046-8bfc60da8b1b" >
		<http:listener doc:name="Listener" doc:id="4909a95a-e401-494f-b39a-1e03249d46fb" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["Hello Rohit Sharma"]' doc:name="Set Payload" doc:id="dd015968-0370-440a-9d34-185641f970d2" />
	</flow>
</mule>
